1.Install Jupyter notebook and run the first program and share the screenshot of the output.

Screen shot has submitted separately.

2.
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line

In [1]:
num=[]
for x in range(2000,3201):
    if(x%7==0) and (x%5==0):
        num.append(x)
print(num)

[2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975, 3010, 3045, 3080, 3115, 3150, 3185]

3.
Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [2]:
first_name=input("Enter your first name:")
last_name=input("Enter your last name:")
print(last_name," ",first_name)

Enter your first name:Sachin
Enter your last name:Kumar
Kumar   Sachin

4.
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [3]:
import math 
d=12
r=d/2
V=4/3*math.pi*(r**3)
print("Volume of Sphere:",V)

Volume of Sphere: 904.7786842338603

**Task 2:**

1.
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [4]:
numbers=str(input("Enter comma-separated numbers:"))
print((numbers.split()))

Enter comma-separated numbers:34,23,56,78,89,234,7.0,56
['34,23,56,78,89,234,7.0,56']


2.
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print(" ")
for i in range(n,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

3.
Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [6]:
word=input("Enter the Word:")
print("Reverse of entered word:-\n",word[::-1])

Enter the Word:Jupyter
Reverse of entered word:-
 retypuJ

4.
Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute India into a SOVEREIGN, !
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
         and to secure to all its citizens

In [8]:
string="WE, THE PEOPLE OF INDIA,{} having solemnly resolved to constitute India into a SOVEREIGN,{} SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{} and to secure to all its citizens"

print(string.format("\n\t"," !\n\t\t","\n\t\t "))

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens